<div class="row mt-3">
  <div class="col-12 mb-3">Manage entities for Sentence: <%= @resource.sentence.id %></div>
  <div class="col-12 col-md-8 mx-auto">
    <%#= render "form" %>
  </div>
</div>
<%= link_to "Back", :back, class: "btn btn-sm btn-outline-dark" %>
